{% extends 'catalog/base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>Санкт-Петербург, Невский пр-кт, д. 1</td>
                        </tr>
                        <tr>
                            <td class="w-25">Номер телефона</td>
                            <td>222-33-22</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <br>
                        <div class="mb-3">
                            <label form="name">Имя</label>
                            <br>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required/><br>
                        <div class="mb-3">
                            <label form="email">Email</label>
                            <br>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Ваш email" required"/><br>
                        <div class="mb-3">
                            <label form="message">Сообщение</label>
                            <br>
                            <textarea name="message" class="form-control" id="message" placeholder="Ваше сообщение" required></textarea>
                        <input type="submit" value="Отправить">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>

</body>
</html>
{% endblock %}