{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
   <div class="row">
     <div class="col-6">
       <div class="card">
         <div class="card-body">
           <form method="post">
             {% csrf_token %}
             <p>Хотите удалить продукт "{{ object.name }}"?</p>
             <button type="submit" class="btn btn-danger">Да</button>
             <a href="{% url 'catalog:categories' %}" class="btn btn-warning">Отменить</a>
             </button>
           </form>
         </div>
       </div>
     </div>
   </div>
</div>
{% endblock %}