{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'catalog:categories' %}" class="btn btn-info">Назад</a>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Информация о товаре
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Название</td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td>Описание</td>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <td>Цена</td>
                            <td>{{ object.price }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-header">
                    <h3 class="card-title">
                        Информация о версии товара
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Название версии</td>
                            <td>{{ object.version_name }}</td>
                        </tr>
                        <tr>
                            <td>Номер версии</td>
                            <td>{{ object.version_number }}</td>
                        </tr>
                        <tr>
                            <td>Признак текущей версии</td>
                            <td>{{ object.is_active }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            {% if object.picture %}
            <img src="/media/{{ object.picture }}" />
            {% else %}
            <img src="/media/products/Лйам.jpg" />
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}